<uikit-layout
  [showEnvironment]="production"
  [environment]="name"
  [showNotifications]="false"
  [showUserInfo]="true"
  [showIa]="true"
  [showSystemInfo]="true">

  <div layout-header-userinfo>
    <!-- Componentes e Elementos para o conteúdo do userinfo -->
  </div>

  <div layout-nav-menu>
    <!-- Itens para o menu (uikit-menu-item) -->
    <uikit-menu>
      <uikit-menu-item title="Dashboard" icon="fa-lg fas fa-chart-line" [link]="['/dashboard']"></uikit-menu-item>
      <uikit-menu-item title="breweries (gerado)" icon="fa-lg fas fa-beer" [link]="['/breweries']"></uikit-menu-item>
      <uikit-menu-item title="prime" icon="fa-lg fas fa-star" [link]="['/breweries']"></uikit-menu-item>
    </uikit-menu>
  </div>

  <div layout-nav-menu-extras>
    <!-- Elementos adicionais para o menu -->
  </div>

  <div layout-header-notifications>
    <!-- Componentes que representam uma notificação (uikit-notificacao) -->
    <!-- <uikit-notificacao nome="Nome1" descricao="Descricao1" icone="fas fa-info-circle" [read]="true"></uikit-notificacao> -->
  </div>

  <div layout-header-systeminfo>
    <!-- Qualquer elemento para representar uma versão (changelog) -->
  </div>

  <router-outlet></router-outlet>

</uikit-layout>
