<div class="row" [formGroup]="form">
    <div class="col-md-1 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input pInputText disabled="disabled" formControlName="id" type="text">
        <label>ID</label>
      </span>
    </div>
    <div class="col-md-2 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="breweryType" type="text" pInputText/>
        <label>BREWERY TYPE</label>
      </span>
    </div>
    <div class="col-md-9 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="name" type="text" pInputText/>
        <label>NAME</label>
      </span>
    </div>



    <div class="col-md-4 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="street" type="text" pInputText/>
        <label>STREET</label>
      </span>
    </div>

    <div class="col-md-4 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="city" type="text" pInputText/>
        <label>CITY</label>
      </span>
    </div>

    <div class="col-md-4 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="state" type="text" pInputText/>
        <label>STATE</label>
      </span>
    </div>

    <div class="col-md-12 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="address2" type="text" pInputText/>
        <label>ADDRESS 2</label>
      </span>
    </div>

    <div class="col-md-12 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="address3" type="text" pInputText/>
        <label>ADDRESS 3</label>
      </span>
    </div>



    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="countyProvince" type="text" pInputText/>
        <label>COUNTY PROVINCE</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="postalCode" type="text" pInputText/>
        <label>POSTAL CODE</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="country" type="text" pInputText/>
        <label>COUNTRY</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="longitude" type="text" pInputText/>
        <label>LONGITUDE</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="latitude" type="text" pInputText/>
        <label>LATITUDE</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="phone" type="text" pInputText/>
        <label>PHONE</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="websiteUrl" type="text" pInputText/>
        <label>WEBSITE URL</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="updatedAt" type="text" pInputText/>
        <label>UPDATED AT</label>
      </span>
    </div>

    <div class="col-md-3 m-button">
      <span class="md-inputfield md-inputfield-box">
        <input formControlName="createdAt" type="date" pInputText/>
        <label>CREATED AT</label>
      </span>
    </div>

</div>
