<div class="row" *ngIf="item != null">
  
  <div class="col-md-12 b-line"><b>ID: </b> {{ item.id }}</div>
  
  <div class="col-md-12 b-line"><b>NAME: </b> {{ item.name }}</div>
  
  <div class="col-md-12 b-line"><b>BREWERY TYPE: </b> {{ item.breweryType }}</div>
  
  <div class="col-md-12 b-line"><b>STREET: </b> {{ item.street }}</div>
  
  <div class="col-md-12 b-line"><b>ADDRESS 2: </b> {{ item.address2 }}</div>
  
  <div class="col-md-12 b-line"><b>ADDRESS 3: </b> {{ item.address3 }}</div>
  
  <div class="col-md-12 b-line"><b>CITY: </b> {{ item.city }}</div>
  
  <div class="col-md-12 b-line"><b>STATE: </b> {{ item.state }}</div>
  
  <div class="col-md-12 b-line"><b>COUNTY PROVINCE: </b> {{ item.countyProvince }}</div>
  
  <div class="col-md-12 b-line"><b>POSTAL CODE: </b> {{ item.postalCode }}</div>
  
  <div class="col-md-12 b-line"><b>COUNTRY: </b> {{ item.country }}</div>
  
  <div class="col-md-12 b-line"><b>LONGITUDE: </b> {{ item.longitude }}</div>
  
  <div class="col-md-12 b-line"><b>LATITUDE: </b> {{ item.latitude }}</div>
  
  <div class="col-md-12 b-line"><b>PHONE: </b> {{ item.phone }}</div>
  
  <div class="col-md-12 b-line"><b>WEBSITE URL: </b> {{ item.websiteUrl }}</div>
  
  <div class="col-md-12 b-line"><b>UPDATED AT: </b> {{ item.updatedAt }}</div>
  
  <div class="col-md-12 b-line"><b>CREATED AT: </b> {{ item.createdAt }}</div>
  
</div>
